@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.signup_btn {
  margin-left: 10px;
  background: rgba(5, 100, 153, 0.8);
  border-radius: 44px;
  padding: 12px 28px;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .signup_btn {
    padding: 8px 12px;
  }
}
